/* .group:after {
  content: "";
  display: table;
  clear: both;
} */

body {

    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

h1, p {
    color: #777;
    background: #ebebeb;
}


header, nav, aside, section, footer {
    background: #ebebeb;
    width: 960px;
}

/* .container {
    width: 100%;
} */

header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    float: left;
    height: 200px;
    width: 560px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article_text {
    background: #777;
    color: #ebebeb;
}



.middle_section {
    width: 960px;;
    height: 300px;
    margin-bottom: 20px;
}


section {
    width: 600px;
    height: 300px;
    text-align: center;
    float: left;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: inline-block;
}



.section:after {
    content: "";
    display: table;
    clear: both;
  }

aside {
    text-align: center;
    float: left;
    margin-right: 0px;
    margin-left: 20px;
    width: 340px;
    height: 300px;
}

  aside:after {
    content: "";
    display: table;
    clear: both;
  }


.H1_H2_H3_block {
    width: 540px;
    height: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ebebeb;
}

.bounded_paragraph {
    background: #ebebeb;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    width: 960px;
    margin-bottom: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer:after {
    content: "";
    display: table;
    clear: both;
  }